extends layout

block title
  | Learnsome - Wintersmith / Grunt.js demo

block content
  section.container.topcontent.showbg
    section.centered-content
      span.logo
        include partials/bulb.jade
      h1.name Learnsome
      p.strapline Testing the deploy process
      section.centered
        form(action='http://hop.us7.list-manage.com/subscribe/post?u=07ab661c8a6f6b3ec4c98c791&id=7daf5f7db7', method='post', name='mc-embedded-subscribe-form')
          input(type='email', value='', name='EMAIL', placeholder='Email address...')
          div(style='position: absolute; left: -15000px;')
            input(type='text', name='b_07ab661c8a6f6b3ec4c98c791_7daf5f7db7', value='')
          input#mc-embedded-subscribe.button(type='submit', value='Sign up', name='subscribe')
      p.twink
        a(href='http://twitter.com/letslearnsome')
          | @letslearnsome


